.hero {
  height: 100vh;
  background-image: linear-gradient($mist), url("../imgs/hero.jpg");
  background-position: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: $white;

  .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5% 10%;

    .logo {
      font-size: 3.5em;
      font-family: 'Indie Flower';
      span{
        color: $red;
      }
    }

    .hero-content {

      .title {
        font-size: 3em;
        margin-bottom: 20px;
      }

      .btn {
        border-radius: 5px;
        background-color: $white;
        color: $darkRed;
        padding: 15px 30px;
        text-transform: uppercase;
        &:hover {
          color: $white;
          background-color: $darkRed;
        }
        i {
          padding-left: 10px;
        }
      }
    }

    .hero-links {
      .nav {
        .link {
          display: inline-block;
          padding: 10px 50px;
          &:hover {
            color: $red;
            background-color: $white;
          }
        }
      }
    }
  }
}
