@import "https://fonts.googleapis.com/css?family=Indie+Flower";
@import "https://opensource.keycdn.com/fontawesome/4.7.0/font-awesome.min.css";
@import "_variables";
@import "_global";
@import "_hero";
@import "_signUp";

@media (min-width: 1300px) {
  .flex {
    display: flex;
    .hero {
      width: 70%;
    }
    .sign-in {
      width: 30%;
    }
  }
}
